.questionrow{text-align: center; }

.feedbackrow{text-align: center; }

.answerrow{text-align: center; }

.buttonrow{text-align: center; }


.avidholder{padding:0px; margin:0px; text-align: center;  }

.videorow {max-width:100%; padding:0px; margin:0px; background-color: black;}

.davideo{text-align: center;  padding:0px; margin:0px;}


.question{text-align: center; }