<!DOCTYPE html>
<!--
<html manifest="manifest.appcache">
-->

<head>
<script type="text/javascript">
if (document.cookie.indexOf('forcereload=true') > -1) {
	document.cookie = 'forcereload='
	window.location.reload(true);
}
//CONDUCT SYSTEM CHECKS    
// console.log("SYSTEM CHECKS"); 

/*   
//CHECK IF MANIFEST IS CURRENT
window.addEventListener('load', function(e) {
if (window.applicationCache) {
window.applicationCache.addEventListener('updateready', function(e) {
if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
// Browser downloaded a new app cache.
// Swap it in and reload the page to get the new hotness.
window.applicationCache.swapCache();
if (confirm('A new version of this site is available. Load it?')) {
window.location.reload();
}
} else {
// Manifest didn't changed. Nothing new to server.
console.log("No Change to Manifest"); 
}
}, false);
}
}, false);  
*/        


</script>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>GameSense</title>




<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

<link rel="stylesheet" href="https://s3.amazonaws.com/sportanticipation/css/app.css">
<link rel="stylesheet" href="https://s3.amazonaws.com/sportanticipation/css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/style.css">

    
    
    <script>        
        
        function clearBox(elementID)
{
    document.getElementById(elementID).innerHTML = "";
}
    </script>
    
    
    
</head>
    
    
<body style="background-color: #000;">
    
<div id="loginbox"> </div> 
    
    <div id="container" > </div>
        
        
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="navbar-inner">
        <div class="container" style="width: auto;">

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar collapsed" onclick="ToggleMenu()">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">GameSense</a>
        
        </div>
    </div>
        
    <nav id="top-nav" class="navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="javascript:void(0)" onclick="window.location.reload();">Restart Drill</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="testcontainer"><div id="netstatus" style="pull-left;"></div><div class="pull-right" style="position:relative; margin-right:100px;"><span id="plid"></span><small><span id="status"></span></small><span id="sessioninfo"></span></div><div id="loginbox" style="max-width:100%; text-align:center;"></div><div id="plid"></div><div id="sessioninfo"></div><div id="message"></div><div class="inforow" id="inforow"></div><div id="status"></div><div id="questionrow"></div><div class="videorow" id="videorow"><video height="100%" id="video"><source src="https://s3.amazonaws.com/sportanticipation.videos/1-1a.mp4" type="video/mp4"/></video></div><div id="answerrow" class="answerrow"><div class="btn-group"><div id="buttonrow" class="buttonrow"></div></div></div></div>
       
<button id="start" onclick="GoLogin()"><b class="caret-right"></b></button>

<div id="holder"></div>
<div id="tmodebuttons"></div>
<div id="netstatus"></div>
<div id="tmode"></div>
<div id="questionrow"></div>
<div id="answers"></div>

<div id="buttonrow"></div>

<div id="feedbackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
  <div class="modal-body">
    <div id="feedbackrow"></div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-inverse" type="button" onclick="play_re()" data-dismiss="modal">Replay</button>
    <button type="button" class="btn btn-inverse" onclick="play_full()" data-dismiss="modal">Full Pitch</button>
    <button id="Continue" class="btn btn-inverse" type="button" onclick="contTest()" data-dismiss="modal">Next</button>
  </div>
</div>

<div id="scoreModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
  <div class="modal-body"></div>
  <div class="modal-footer">
    <button id="Continue" class="btn btn-inverse" type="button" onclick="window.location.reload()" data-dismiss="modal">Restart</button>
  </div>
</div>
<script src="https://s3.amazonaws.com/sportanticipation/js/jquery.min.js"></script>
<script src="https://s3.amazonaws.com/sportanticipation/js/bootstrap.min.js"></script> 
<script src="../js/script2.js"></script> 

<script>
$(function(){

    $('body').on('contextmenu', function () {
        return false;
    });

})
</script> 
</BODY>
</HTML>